<nav class="site-nav" role="navigation">

  <div class="nav-links">
	<% link_to '/' do %>Home
	<% end %>
	<% link_to '/services/' do %>Services
	<% end %>
	<% link_to '/contact/' do %>Contact
	<% end %>
	<% link_to '/testimonials' do %> Testimonioals
	<% end %>
			
	<div class="mobile-menu"><i class="icon icon-reorder"></i></div>
  </div>
</nav>
