---
title: Middleman is Loaded
---

<div id="form">
<form action="/contact" accept-charset="UTF-8" method="post" id="contact-mail-page">
	<div>
		<p>You can leave a message using the contact form below.</p>
		<div class="form-item" id="edit-name-wrapper">
		<label for="edit-name">
			Your name: <span class="form-required" title="This field is required.">*</span>
		</label>
		<input type="text" maxlength="255" name="name" id="edit-name" size="60" value="" class="form-text required">


		<label for="edit-name">
			Your e-mail address:  <span class="form-required" title="This field is required.">*</span>
		</label>
		<input type="text" maxlength="255" name="name" id="edit-name" size="60" value="" class="form-text required">


		<label for="edit-name">
			Subject: <span class="form-required" title="This field is required.">*</span>
		</label>
		<input type="text" maxlength="255" name="name" id="edit-name" size="60" value="" class="form-text required">

		<label for="edit-message">Message: <span class="form-required" title="This field is 		required.">*</span>
		</label>
		<div class="resizable-textarea">
			<span><textarea cols="60" rows="5" name="message" id="	   edit-message" class="form-textarea resizable required textarea-processed"></textarea>
			<div class="grippie" style="margin-right: -6px;">
			</div></span>
		</div>
	</div>

	<input type="submit" name="op" id="edit-submit" value="Send e-mail" class="form-submit">
	<input type="hidden" name="form_build_id" id="form-265820ee2e32d9c216b8cd81262faff8" value="form-265820ee2e32d9c216b8cd81262faff8">
	<input type="hidden" name="form_id" id="edit-contact-mail-page" value="contact_mail_page">
</div>
</form>
</div>