---
title: Get Started Now
---

<h1>Get Started Now</h1>
	<p>
		Call now and tell us what you are looking for and we will let you know everything that AAA Medical Billing has to offer. An in depth interview can be scheduled, which will include the simple steps it takes to begin the billing process. A billing course can be provided for no extra charge to insure that all services rendered are being properly coded.
	</p>
<div>
	<b>Call Now</b><br />
	AAA Medical Billing<br />
	408.210.5584 phone<br />
	530.865.8593 fax<br />
	<%= link_to 'sarah@aaamb.com', 'mailto:sarah@aaamb.com' %><br />
	or click Contact located in the menu and we will respond within 24 hours.
</div>