---
title: AAA Medical Billing
---

<h1>AAA MEDICAL BILLING</h1>
<div>
	<h1>Contact Info</h1>
	<b>Sarah Leydon</b><br />
	Third Party Collections Specialist<br />
	AAA Medical Billing<br />
	Phone <a href="tel:5530.865.8727">530.865.8727</a><br />
	Claims Fax 530.341.0310<br />
	EOB Fax 530.387.6447<br />
	<%= link_to 'http://sarah@aaamb.com', 'mailto:sarah@aaamb.com' %><br />
</div>
<div>
	<h1>Increase Your Income</h1>
	<p>
		AAA Medical Billing offers professional billing services to independent doctors and facilities since 1999. AAA Medical Billing has increased profit as well as cleaned up aging balances to properly reflect accounts receivable. Do not let the stress of billing insurance affect your business. It is time you focused solely on providing medical care and reap the rewards of outsourcing your insurance files. 
		<% link_to '/get.html' do %>Get Started Now
		<% end %> 
	</p>
		<h1>End The Stress</h1>
	<p>
		AAA Medical Billing provides advanced third party collections, auditing accounts dating years back to present and troubleshooting accounting errors for old claims not affiliated with claims produced by AAA Medical Billing. There will be no need for communicating directly with insurance companies regarding unpaid claims. AAA Medical Billing follows up on all claims 30 days or older. Complete documentation on all conversations and transactions are recorded. Review of patient eligibility and provider contract is done at the time payment is received to verify that maximum payment has been made. Patient invoicing and collections is also offered. <% link_to '/get.html' do %>Get Started Now
		<% end %> 
	</p>
</div>

