---
title: Services
---
<h1>Services</h1>
	<p>
		AAA Medical Billing is a full service billing agency, billing your services electronically for faster reimbursement.
	</p>
<h1>Service Detail</h1>
<p>
	An easy protocol has been put into place to minimize your work load. AAA Medical billing does all benefits and eligibility checks to ensure the services rendered are payable. A customized superbill is given to the provider that will be filled out at the time services are rendered then returned via fax or EDI to AAA Medical Billing. AAA Medical Billing will do all claims follow-ups and any appeals if needed. All insurance payments will be sent to the provider. The provider will send any EOBs or ERAs via fax or EDI. AAA Medical Billing will audit all payments per provider and patient contract to ensure maximum reimbursement has been obtained. Two monthly reports will be provided. One will show all open / pending claims the other will show all payments received by the insurance. All of this will fall under a flat rate. <% link_to '/get.html' do %>Get Started Now
	<% end %>
</p>

<div>
<h1>Additional Services</h1>
	<p>
		AAA Medical Billing offers additional services that do not fall under the flat rate fee above. This includes
	</p>
	Patient Invoicing<br />
	Practice Analysis<br />
	Practice Marketing<br />
	Insurance Contracting<br />
	Insurance Re-credentialing<br />
	Advanced Collections<br />
	Advanced Auditing<br />
	Monthly Projection Analysis<br />
	Detailed Agings<br />
	Get Started Now<br />
</div>
<h1>Specialty Billing</h1>
<p>
	AAA Medical Billing specializes in billing facility claims with UB04s. AAA Medical Billing also has in depth knowledge of Acupuncture, Chiropractic, Physical Therapy, Chemical Dependency and Mental Health services. AAA Medical Billing also specializes in Personal Injury as well as Workers' Comp. <% link_to '/get.html' do %>Get Started Now
	<% end %>
</p>