---
title: Testominials
---
<h1>Testimonials</h1>
 <p>Our services benefit doctors... hear what they have to say:</p>
<h1>Sheilah Rogers L.Ac.</h1>
<p>
	I cannot speak highly enough of AAA Medical Billing. My acupuncture practice has steadily grown ever since hiring them to handle health insurance verification and claims. I appreciate their promptness in verifying insurance benefits, timely diligence in collecting payments, and the monthly account statements that allow me to easily keep track of everything.
</p>
<p>
	AAA Medical Billing has the necessary expertise to bill insurance using the appropriate codes allowing for the timely and regular receipt of payments. They also take the additional steps sometimes necessary to bill and collect on wayward insurance claims. Additionally, they have provided sound advice regarding which insurance carriers can benefit my practice the most by being in-network with.
</p>
<p>
	AAA Medical Billing has allowed me to focus on the practice of Chinese medicine and patient care, leaving the in's and out's of the insurance business to them. I am better able to serve my patients because of AAA Medical Billing's services. This is probably the best money I have spent promoting my business.
</p>
<p>Sheilah Rogers, LAc, Licensed Acupuncturist and Herbalist.
<%= link_to 'http://sheilah.org', 'http://sheilah.org', target: '_blank' %>
